@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #3da9fc;
  --dark-bg: #202020;
  --card-bg: #16161a;
  --text-white: #fff;
  --text-gray: #94a1b2;
}

body {
  background-color: var(--dark-bg);
  font-family: "Inter";
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background: var(--card-bg);
  padding: 0.5rem;
  padding-bottom: 0.8rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.card_img {
  max-width: 300px;
  border-radius: 0.8rem;
}

.card_info {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  gap: 30px;
}

.card_user {
  display: flex;
  gap: 10px;
  align-items: center;
}

.user_img {
  width: 50px;
  height: 50px;
  background: #fff;
  border-radius: 50%;
  background: url(./assets/5EYT33RGPJDQDLHFWSUAVSIJVA.avif) no-repeat
    center/cover;
}

.user_title {
  color: var(--text-white);
  font-weight: 600;
}

.user_desc {
  color: var(--text-gray);
}

.btn {
  padding: 1rem 2rem;
  border-radius: 50px;
  font-weight: 600;
  border: none;
  width: 100%;
  text-align: center;
  cursor: pointer;
}

.card_btns {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.btn-secondary {
  background: none;
  color: var(--text-gray);
  border: 3px solid var(--text-gray);
}

.btn-primary {
  background: var(--primary);
  color: var(--text-white);
}
